<li class="nav-item">
    <a class="nav-link" id="rental-tab" data-bs-toggle="tab" href="#rental" role="tab" aria-controls="rental" aria-selected="false">
        {{ 'rental.admin.product.tab_title'|trans }}
    </a>
</li>
