{#
/**
 * This file is part of EC-CUBE
 *
 * Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 *
 * http://www.ec-cube.co.jp/
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}

<div class="row mt-4">
    <div class="col-md-6 col-12 mb-3">
        <div class="card h-100" style="border-radius: 30px; overflow: hidden;">
            <img src="/html/user_data/assets/img/rumba_ad.png" class="card-img" alt="長期利用向け商品の画像">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <p class="card-text mb-1">
                    {#<small class="badge bg-primary">７月２１日まで</small>#}
                    
                </p>
                {#<h3 class="card-title h4 mb-2">#}
                {#    ルンバ　夏のキャンペーン中<br>#}
                {#    3ヶ月間最大３０％OFF!！#}
                {#</h3>#}
                <p class="card-text mb-0">
                    <a href="{{ url('product_list') }}?category_id=17" class="text-decoration-none">
                        レンタルははこちらから <i class="fas fa-chevron-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-12 mb-3">
        <a href="">
        <div class="card h-100" style="border-radius: 30px; overflow: hidden;">
            <img src="/html/user_data/assets/img/robo_ad.png" class="card-img" alt="旅行用カメラレンタルの画像">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <p class="card-text mb-1">
                    {#<small class="badge bg-warning">注目！</small>#}
                </p>
                {#<h3 class="card-title h4 mb-2">#}
                {#    Panasonic ROBO<br>#}
                {#    話題のロボットが<br>#}
                {#    今だけ５００円OFF!#}
                {#</h3>#}
                <p class="card-text mb-0">
                    <a href="{{ url('product_list') }}?category_id=15" class="text-decoration-none">
                        レンタルはこちらから<i class="fas fa-chevron-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div></a>
</div>