{#
/**
 * This file is part of EC-CUBE
 *
 * Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 *
 * http://www.ec-cube.co.jp/
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}

<div class="row mt-4">
    <div class="col-md-6 col-12 mb-3">
        <div class="card h-100" style="border-radius: 30px; overflow: hidden;">
            <img src="/html/user_data/assets/img/trip_ad.png" class="card-img" alt="長期利用向け商品の画像">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <p class="card-text mb-1">
                    {#<small class="badge bg-primary">NEW</small>#}
                    {#長期間ゆっくり借りたい人向け#}
                </p>
                {#<h3 class="card-title h4 mb-2">#}
                {#    月額料金を抑えて借りる<br>#}
                {#    "長期利用向け"商品登場#}
                {#</h3>#}
                <p class="card-text mb-0">
                    <a href="{{ url('product_list') }}?category_id=14" class="text-decoration-none">
                        対象商品はこちらから <i class="fas fa-chevron-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-12 mb-3">
        <div class="card h-100" style="border-radius: 30px; overflow: hidden;">
            <img src="/html/user_data/assets/img/long_term_rental.png" class="card-img" alt="旅行用カメラレンタルの画像">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                {#<p class="card-text mb-1">#}
                {#    <small class="badge bg-warning">注目！</small>#}
                {#</p>#}
                {#<h3 class="card-title h4 mb-2">#}
                {#    旅行用の人気カメラが人気上昇中<br>#}
                {#    旅行の準備はお早めに！#}
                {#</h3>#}
                <p class="card-text mb-0">
                    <a href="{{ url('product_list') }}?category_id=12" class="text-decoration-none">
                        豊富なラインナップを今すぐチェック <i class="fas fa-chevron-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>