<div class="row mt-5">
            <div class="col">
                <a href="#">
                <div class="card justify-content-center">
                    
                    <img src="/html/user_data/assets/img/logo/sony_logo.png" width="100%" height="100%">
                    
                </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                <div class="card">
                    
                    <img src="/html/user_data/assets/img/logo/Panasonic_logo.png" width="100%" height="100%">
                    
                </div>
                </a>
            </div>
            <div class="col">
                <div class="card">
                    
                    <img src="/html/user_data/assets/img/logo/Sharp_logo.png" width="100%" height="100%">
                   
                </div>
            </div>
            <div class="col">
                <a href="">
                <div class="card">
                    
                    <img src="/html/user_data/assets/img/logo/TOSHIBA_logo.png" width="100%" height="100%">
                    
                </div>
                </a>
            </div>
        </div>